body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Nav */
.nav {
  flex-wrap: nowrap;
  margin-bottom: 1em;
  width: 100%;
  margin-top: 0.5em;
  
}

/* SearchBar */
.searchbar {
  margin-top: 0.5em;
  border: rgba(251, 246, 246, 0.05)
}

#closeBTN {
  border-color: rgba(12 11 14 / 24%);
  border-radius: 0%;
}

#searchSpan {
  border-radius: 0%;
}

/* CategoriesMenu */
.categories-menu {
  display: flex;
  justify-content: end;
  margin-top: 0.5em;
}

/* Categories */
.sidebar {
  position: fixed;
  height: 80%;
  width: 20%;
  border: solid rgba(185, 185, 183, 0.703) 1px;
  border-radius: 5px;
}
.sidebar-body {
  width: 100%;
}

.categoriesList {
  position: relative;
  height: auto;
  overflow-y: scroll

}

h3 {
  text-align: center;
  margin-top: 0.3em;
}

/* Card */
.card-card {
  margin-bottom: 2rem;
  padding: 0;
}

.footer-card {
  margin-bottom: 1em;
  
}

img {
  max-height: 512px;
}

.always-display {
  margin: 0%;
}

/* Comments */
.comments-row {
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}

/* Comment */
.comment {
  margin-bottom: 1em;
  margin-top: 1em;

}

.comment-card {
  text-align: left;
}

.comment-author {
  float: left;
  margin-bottom: 0.5rem;
  display: flex;
}

.comment-body {
  margin: 0.5em;
}

@media (max-width: 991.98px) { 
  .cards {
      width: 100%;
  }
 }

